---
import '@/styles/common.css';
import '@/styles/components/products/product-item-card.css';
import '@/styles/globals.css';

import ProductCarousel from '@/components/products/product-carousel';
import { Button } from '@/components/ui/button';
import { Card } from '@/components/ui/card';

import { productSlug } from '@/lib/utils';
import { Link } from "@heroui/link";
import { getImage } from 'astro:assets';
import { type ProductData } from './types';

interface Props {
  index: number
  productData: ProductData;
};

const { index, productData } = Astro.props;

const productImagesDir = '/src/assets/images/products/stainless_steel/';
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/products/stainless_steel/*.{jpeg,jpg,png,svg}');

const productImageUri = await Promise.all(
  productData.images.map(async (imageFileName) => {
    return (await getImage({src: images[productImagesDir + imageFileName]()})).src;
  })
);

const itemAnimationDelay = (index: number) => {
  return index == 0 ? 300 : 300 + index * 100;
}
---

<Card className=`flex flex-col w-[30vmin] h-[40vmin] p-[2vmin] m-[2vmin] items-center justify-between animate-fadein-up duration-300` style={{animationDelay: `${itemAnimationDelay(index)}ms`}}>

  <ProductCarousel client:visible
    productImageUri={productImageUri}
  />
  
  <h1 class='w-full text-start text-[2vmin] font-semibold'>{productData.name}</h1>
  <p class='w-full text-start'>{productData.description}</p>

  <div class='flex flex-row justify-between w-full mt-[2vmin]'>
    <Button className='w-[8vmin] h-[3vmin] text-[1vmin]'>
      <Link href=`/products/${productSlug(productData.name)}` className='text-white'>More details</Link>
    </Button>
  </div>

</Card>

