---
import '@/styles/globals.css';

import db from '@/assets/data/db.json';
import { BreadcrumbResponsive, type BreadcrumbData } from '@/components/breadcrumb';
import ProductCarousel from '@/components/products/product-carousel';
import { ProductDescriptionCard } from '@/components/products/product-description-card';
import { ProductTechSpecs } from '@/components/products/product-tech-specs';
import type { ProductData } from '@/components/products/types';
import PageLayout from '@/layouts/page-layout.astro';
import { productSlug } from '@/lib/utils';
import { getImage } from 'astro:assets';

export function getStaticPaths() {
  return db.products.map((productData) => ({
    params: {
      slug: productSlug(productData.name)
    },
    props: { productData }
  }));
}

interface Props {
  productData: ProductData;
};

const { productData } = Astro.props;

const productImagesDir = '/src/assets/images/products/';
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/images/products/*.{jpeg,jpg,png,svg}');
const productImageUri = await Promise.all(
  productData.images.map(async (imageFileName) => {
    return (await getImage({src: images[productImagesDir + imageFileName]()})).src;
  })
);

const breadcrumbData: BreadcrumbData = {
  items: [
    { href: "/", label: "Home" },
    { href: "/products", label: "Products" },
    { label: productData.name },
  ]
}

---

<PageLayout pageTitle={productData.name}>
  <div class='bg-white px-[5vmin] py-[3vmin] min-h-[100vh] md:px-[15vw]'>
    <BreadcrumbResponsive data={breadcrumbData} client:visible />

    <div class='flex flex-col justify-center items-center md:flex-row md:justify-between md:items-start'>
      <ProductCarousel client:visible
        productImageUris={productImageUri}
        className='w-full rounded-lg shadow-lg md:min-w-[30rem] md:w-[60rem]'
      />
    
      <ProductDescriptionCard client:visible
        productName={productData.name}
        productDescription={productData.description}
        productFeatures={productData.features}
      />
    </div>

    <h1 class='text-3xl md:text-5xl font-semibold mt-10 mb-5'>Introduction</h1>
    <p>
      {productData.introduction}
    </p>

    <h1 class='text-3xl md:text-5xl font-semibold mt-10 mb-5'>Application Scenarios</h1>
    <p>
      {productData.application_scenarios}
    </p>

    <h1 class='text-3xl md:text-5xl font-semibold mt-10 mb-5'>Technical Specifications</h1>
    <ProductTechSpecs productTechSpecs={productData.specs} client:visible />

    <h1 class='text-3xl md:text-5xl font-semibold mt-10 mb-5'>Customization</h1>
    <p>
      {productData.customization}
    </p>

    <h1 class='text-3xl md:text-5xl font-semibold mt-10 mb-5'>Engineering Drawings</h1>

    <h2 class='text-2xl md:text-3xl font-semibold mt-10 mb-5'>2D Drawings</h2>
    // TBD

    <h2 class='text-2xl md:text-3xl font-semibold mt-10 mb-5'>3D Models</h2>
    // TBD

    <h1 class='text-3xl md:text-5xl font-semibold mt-10 mb-5'>Shipping</h1>
    <p>
      {productData.policies.shipping}
    </p>

    <h1 class='text-3xl md:text-5xl font-semibold mt-10 mb-5'>Warranty</h1>
    <p>
      {productData.policies.warranty}
    </p>

    <h1 class='text-3xl md:text-5xl font-semibold mt-10 mb-5'>Return Policy</h1>
    <p>
      {productData.policies.return}
    </p>
  </div>
</PageLayout>