---
import PageLayout from "./page-layout.astro";
const { frontmatter } = Astro.props;
---

<PageLayout pageTitle={frontmatter.title}>
  <div class="bg-white px-[5vmin] py-[3vmin] min-h-[100vh] md:px-[15vw]">
    <!-- metadata -->
    <p>{frontmatter.pubDate.toLocaleDateString()}</p>
    <p><em>{frontmatter.description}</em></p>
    <p>Written by: {frontmatter.author}</p>
    <img src={frontmatter.coverImage.url} width="300" alt={frontmatter.coverImage.alt} />

    <div class="tags">
      {
        frontmatter.tags.map((tag: string) => (
          <p class="tag">
            <a href={`/tags/${tag}`}>{tag}</a>
          </p>
        ))
      }
    </div>

    <!-- main content -->
    <article class="prose lg:prose-xl max-w-none" >
      <slot />
    </article>
  </div>
</PageLayout>
<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>